body{
  display: flex;
  align-content: center;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #eee;
  color: rgb(43, 43, 43);
  justify-content: center;
}

.treeVisualizer{
  height: 400px;
  width: 400px;
  background-color: black;
}

#container{
  display: grid;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: repeat(20, 5%);
  min-height: 700px;
  max-width: 800px;
}

#title-container{
    height: 100%;
    margin-top: 3vh;
    font-size: 1.5vw;;
    grid-column-start: 1;
    grid-column-end: span 10;
    grid-row-start: 1;
    grid-row-end: span 2;

    h1{
      text-align: center;
      text-transform: capitalize;
      font-size: 3vw;
    }

    p{
      text-align: center;
      font-size: 1.5vw;
    }
  }

  #stack-container{
    grid-column-start: 1;
    grid-column-end: span 4;
    grid-row-start: 2;
    grid-row-end: span 13;
    border: 1px solid black;
    overflow-y: auto;
    h3{
      margin-left: 5%;
      font-size: 16px;
    }
  }

#tree-container{
  grid-column-start: 5;
  grid-column-end: span 6;
  grid-row-start: 2;
  grid-row-end: span 13;
  border: 1px solid black;
  overflow-y: auto;
  h3{
    margin-left: 5%;
    font-size: 16px;
  }
}

#editor-container{
  grid-column-start: 1;
  grid-column-end: span 10;
  grid-row-start: 15;
  margin-top: -10px;
  grid-row-end: span 6;
  border: 1px solid #2593B8;

  #ace-editor{
    width: 60%;
    height: 100%;
    overflow: auto;
    float: left;
  }



  #button-container{
    width: 40%;
    float: right;

    p{
      margin: 10% 5% 10% 5%;
    }

    button{
      font-size: 14px;
      font-weight: 700;
      padding: 10px;
      border-radius: 3px;
    }

    #run{
      float:left;
      background-color: #2593B8;
      font-weight: bolder;
      width: 100px;
      cursor: pointer;
      color: white;
      margin-left: 5%
    }

    #run:hover {
      background-color: rgb(21, 108, 136);
    }

    #clear{
      float: right;
      cursor: pointer;
      background-color: white;
      margin-right: 5%;
    }

    #clear:hover{
      background-color: rgb(208, 208, 208);
    }
  }
}




// node tree styles

.node circle {
	fill: #2593B8;
	stroke: #2593B8;
	stroke-width: 1.5px;
}

.node text {
	font-size: 15px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #444;
  fill: #444;
}

.node {
	cursor: pointer;
}

// .node.searchIncluded text {
// 	font-weight: bold;
// 	font-size: 14px;
// }

// .node.searchExcluded text {
// 	opacity: 0.6;
// }

path.link {
	fill: none;
	stroke: #2593B8;
	stroke-width: 1.5px;
}

// body {
// 	background-color: #242424;
// 	overflow: hidden;
// }

// span {
// 	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
// 	color: #F4F4F4;
// 	text-shadow: 0 1px 4px black;
// 	float: right;
// }

// input {
// 	padding: 5px 12px;
// 	border: 0;
// 	border-radius: 50px;
// }

// input:focus {
// 	outline: none;
// }

// button {
// 	background-image: linear-gradient(to bottom, #337ab7 0%, #265a88 100%);
// 	border: 0;
// 	color: white;
// 	text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
// 	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
// 	padding: 5px 12px;
// 	border-radius: 50px;
// }

// button:hover {
// 	background-image: linear-gradient(to top, #337ab7 0%, #265a88 100%);
// 	cursor: pointer;
// }

// button:focus {
// 	outline: none;
// 	background-image: linear-gradient(to top, #337ab7 0%, #265a88 100%);
// }


// node tree styles
